
@{
    ViewBag.Title = "_UnregisteredTemplate";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Unregistered Template</h2>
<p>The current page has a template that is not registered with this MVC instance.  Please select another one.</p>
