@model Kentico.Caching.Example.ExamplePageTypeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/ExampleCache/ExampleSharedLayout.cshtml";
}

<h2>@Model.Name</h2>
<p>
Time: @DateTime.Now
</p>