<div class="row row--with-cols-padding">
    <div class="col-md-4">
        @Html.Kentico().WidgetZone()
    </div>
	<div class="col-md-4">
		@Html.Kentico().WidgetZone()
	</div>
	<div class="col-md-4">
		@Html.Kentico().WidgetZone()
	</div>
</div>