@model Models.Examples.ExampleMVCWebPartsSubNavs

@if(Model.SubNavigation.Any())
{
    <ul>
        @foreach(Models.Examples.SubNav nav in Model.SubNavigation)
        {
            <li><a href="@nav.LinkUrl">@nav.LinkText</a></li>
        }
    </ul>
}