@model Models.TemplatedPage.TemplatedPageCustomControllerViewModel

@{
    ViewBag.Title = "_TemplatedPageCustomController";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Template with Custom Controller</h2>
<p>@Model.Message</p>
